RedirectMatch 301 ^/management/?$ https://choose.ipo.msk.ru/?program=management
RedirectMatch 301 ^/economics/?$ https://choose.ipo.msk.ru/?program=economics
RedirectMatch 301 ^/pedagogy/?$ https://choose.ipo.msk.ru/?program=pedagogy
RedirectMatch 301 ^/psychology/?$ https://choose.ipo.msk.ru/?program=psychology
RedirectMatch 301 ^/healthcare/?$ https://choose.ipo.msk.ru/?program=healthcare
RedirectMatch 301 ^/informatics/?$ https://choose.ipo.msk.ru/?program=informatics
RedirectMatch 301 ^/jurisprudence/?$ https://choose.ipo.msk.ru/?program=jurisprudence
RedirectMatch 301 ^/marketing/?$ https://choose.ipo.msk.ru/?program=marketing
RedirectMatch 301 ^/technology/?$ https://choose.ipo.msk.ru/?program=technology
