header {
  position: absolute;
  min-width: 100%;
  min-height: 5.625rem;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background-color: $c-alpha;
  z-index: 1;
  padding-top: 80px;
  padding-bottom: 10px;
}

.hamburger {
  width: 3.3125rem;
  // -webkit-appearance: none;
  // border-radius: 0;
}

.hamburger__line {
  width: 100%;
  background-color: set-text-color($c-alpha);
  height: 0.3125rem;
  &:nth-child(1),
  &:nth-child(2) {
    margin-bottom: 0.4375rem;
  }
}

.header-logo {
  width: 100%;
  max-width: 3.5rem;
  height: auto;
}
.logo-group {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 16rem;
}
.logo-group__text {
  margin-left: 1rem;
  color: $c-light;
  font-size: 0.8rem;
}
@include mediaMd {
  body .section-heading {
    padding-top: 0;
  }
  .container--header {
    width: 100%;
  }
  header {
    min-height: 7rem;
    color: $c-light;
    .btn-tertiary {
      @include easeOut;
      &:hover,
      &:active {
        background-color: $c-beta;
        border: 1px solid transparent;
      }
    }
  }

  .desktop-menu__header-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .header-group__number {
    margin-right: 1.5rem;
  }

  .header-logo {
    width: 100%;
    max-width: 4.5rem;
    height: auto;
  }
  .desktop-menu {
    width: 100%;
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }
  .menu-items {
    display: flex;
    margin: 0 0 1rem 2rem;
    padding: 0;
  }
  .menu-items__item {
    display: flex;
    margin-right: 1rem;
    border-bottom: 1px solid transparent;
    &:nth-last-child(1) {
      margin-right: 0;
    }
    & a {
      @include easeOut;
      outline-color: $c-danger;
      color: $c-light;
      border-bottom: 1px solid transparent;
      &:hover,
      &:active {
        border-bottom: 1px solid $c-light;
      }
    }
  }
  .headings {
    & h1 {
      font-size: 2rem;
      line-height: 2rem;
    }
  }
}

// Desktops & Laptops
@include mediaXl {
  .section-heading__content h1 {
    font-size: 2rem;
  }
  .headings {
    & h1 {
      font-size: 3rem;
      line-height: 2.9rem;
    }
  }
}

.top-banner{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #07243c;
  background-image: url('../img/banner-person.png'), url('../img/top-bg.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: contain, cover;
  background-position: center, center;
  height: 67px;
  width: 100%;
  cursor: pointer;
  & .top-banner__waves{
    position: absolute;
  }
  & .top-banner__waves--orange{
    display: flex;
    flex-direction: column;
    left: 10%;
    top: .8rem;
  }
  & .top-banner__waves--light{
    right: 10%;
    top: -.4rem;
  }
}
// @media only screen and (max-width: 1215px) {
//   header{
//     padding-top: 0;
//   }
//   .top-banner{
//     display: none;
//   }
// }