.section-programs {
  text-align: center;
  & .card__info {
    & p {
      color: $c-muted;
    }
  }
}

@include mediaMd {
  .section-programs {
    text-align: left;
    & .cards-programs {
      & .cards__card {
        flex: initial;
        width: 100%;
        margin-right: 0;
        display: grid;
        grid-template-areas:
          'title btn'
          'info btn';
        grid-template-columns: 9fr 3fr;
        grid-gap: 1rem 3rem;

        &:hover,
        &:active,
        &:focus {
          & .card__title {
            color: $c-alpha;
          }
        }

        & .card__title {
          @include easeOut;
          grid-area: title;
        }
        & .h3,
        & .h4 {
          margin: 0;
        }
        & .card__info {
          grid-area: info;
          color: $c-muted;
          & p {
            color: $c-muted-3;
          }
          & .info__hours::before {
            content: '🕒 Объем программы: ';
            font-weight: 900;
            color: $c-muted;
          }
          & .info__learn-time::before {
            content: '🕗 Длительность обучения: ';
            font-weight: 900;
            color: $c-muted;
          }
          & .info__edu-base::before {
            content: '📚 Обучение на базе: ';
            font-weight: 900;
            color: $c-muted;
          }
          & .info__price::before {
            content: '​💳​ Цена: ';
            font-weight: 900;
            color: $c-muted;
          }

          & .h4 {
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
          }
        }
        & .card__btn {
          margin-top: 0;
          grid-area: btn;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        & .btn {
          margin: 0;
        }
      }
    }
  }
}
